---
layout: default
---


{{content}}

{%- for collection in site.collections -%}
    {% if page.collection_name == collection.label %}		
    {% assign collectionItemsByYear = collection.docs | sort: 'date' | reverse | group_by_exp:"post", "post.date | date: '%Y'" %}
	
	    {% for year in collectionItemsByYear %}	
		
	    <h1>{{ year.name }}</h1>		
		    {% for item in year.items %}
			<div class="w3-panel w3-border w3-light-grey w3-round-large" style="text-align: justify;">	
			   <h4><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></h4>		    
			     {%- if site.show_excerpts -%}
                  {{ item.excerpt }}
                 {%- endif -%}		 
			   	</div>	
			{%- endfor -%}    
		
		{%- endfor -%}

	{% endif %}
{%- endfor -%}

